body {
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(135deg, #FAB2FF 10%, #4dafff 100%);
}
h2 {
  font-family: 'Lato', sans-serif;
}

.header-dark {
    background-image: url("https://img.freepik.com/free-vector/office-workplace-interior-with-computer-table_107791-1837.jpg?w=1800&t=st=1647678012~exp=1647678612~hmac=767075df84c90ac4c24265de8c1d58a9f155c02b8266ab831e02ba0b92f592ca");
    background-repeat: no-repeat;
    background-attachment: auto;
    background-size:cover;
    padding-bottom:80px;
  }
  
  @media (min-width:768px) {
    .header-dark {
      padding-bottom:120px;
    }
  }
  
  .header-dark .navbar {
    background:transparent;
    padding-top:0;
    padding-bottom:0;
    color:rgb(0, 0, 0);
    border-radius:0;
    box-shadow:none;
    border:none;
  }
  
  @media (min-width:768px) {
    .header-dark .navbar {
      padding-top:.75rem;
      padding-bottom:.75rem;
    }
  }
  
  .header-dark .navbar .navbar-brand {
    font-weight:bold;
    color:inherit;
  }
  
  .header-dark .navbar .navbar-brand:hover {
    color:#0e0101;
  }
  
  .header-dark .navbar .navbar-collapse span {
    margin-top:5px;
  }
  
  .header-dark .navbar .navbar-collapse span .login {
    color:#000000;
    margin-right:.5rem;
    text-decoration:none;
  }
  
  .header-dark .navbar .navbar-collapse span .login:hover {
    color:rgb(0, 0, 0);
  }
  
  .header-dark .navbar .navbar-toggler {
    border-color:#000000;
  }
  
  .header-dark .navbar .navbar-toggler:hover, .header-dark .navbar-toggler:focus {
    background:none;
  }
  
  .header-dark .navbar .navbar-toggler {
    color:rgb(0, 0, 0);
  }
  
  .header-dark .navbar .navbar-collapse, .header-dark .navbar .form-inline {
    border-color:#000000;
  }
  
  @media (min-width: 992px) {
    .header-dark .navbar.navbar .navbar-nav .nav-link {
      padding-left:1.2rem;
      padding-right:1.2rem;
    }
  }
  
  .header-dark .navbar.navbar-dark .navbar-nav .nav-link {
    color:#000000;
    font-size: 20px;
  }
  
  .header-dark .navbar.navbar-dark .navbar-nav .nav-link:focus, .header-dark .navbar.navbar-dark .navbar-nav .nav-link:hover {
    color:#000000 !important;
    background-color:transparent;
  }
  
  .header-dark .navbar .navbar-nav > li > .dropdown-menu {
    margin-top:-5px;
    box-shadow:0 4px 8px rgba(0,0,0,.1);
    background-color:rgb(5, 0, 0);
    border-radius:2px;
  }
  
  .header-dark .navbar .dropdown-menu .dropdown-item:focus, .header-dark .navbar .dropdown-menu .dropdown-item {
    line-height:2;
    font-size:14px;
    color:#37434d;
  }
  
  .header-dark .navbar .dropdown-menu .dropdown-item:focus, .header-dark .navbar .dropdown-menu .drodown-item:hover {
    background:#000000;
  }
  
  .header-dark .navbar .action-button, .header-dark .navbar .action-button:active {
    background: black;
    border-radius:20px;
    font-size:inherit;
    color:rgb(255, 255, 255);
    box-shadow:none;
    border:none;
    text-shadow:none;
    padding:.5rem .8rem;
    transition:background-color 0.25s;
  }
  
  .header-dark .navbar .action-button:hover {
    background:#000000;
  }
  
  .header-dark .navbar .form-inline label {
    color:rgb(0, 0, 0);
  }
  
  .header-dark .navbar .form-inline .search-field {
    display:inline-block;
    width:80%;
    background:none;
    border:none;
    border-bottom:1px solid transparent;
    border-radius:0;
    color:rgb(0, 0, 0);
    box-shadow:none;
    color:inherit;
    transition:border-bottom-color 0.3s;
  }
  
  .header-dark .navbar .form-inline .search-field:focus {
    border-bottom:1px solid rgb(24, 0, 0);
  }
  
  .header-dark .hero {
    margin-top:60px;
  }
  
  @media (min-width:768px) {
    .header-dark .hero {
      margin-top:20px;
    }
  }
  
  .header-dark .hero h1 {
    color:rgb(5, 0, 0);
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    font-size:75px;
    margin-top:30px;
    margin-bottom:80px;
  }
  
  @media (min-width:768px) {
    .header-dark .hero h1 {
      margin-bottom:50px;
      line-height:1.5;
    }
  }
  
  .header-dark .hero .embed-responsive iframe {
    background-color:#666;

  }

.ct-featureBox h4 {
  padding: 10px 0 5px;
  color: #ffffff;
  font-size: 2.2rem;
  font-weight: 600;
}
.ct-featureBox p {
  margin-bottom: 0;
}
.main-content {
  padding: 40px 0;
  background-image: url("https://www.solodev.com/assets/bg-02.jpg");
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  min-height: 600px;
}
.main-content h2,
.main-content h3 {
  color: rgb(0, 0, 0);
  font-size: 5.5rem;
  text-align: center;
}
.main-content h2 {
  font-family: 'Lato', sans-serif;
  margin-bottom: 0;
}
.main-content h3 {
  font-weight: 300;
  padding-bottom: 40px;
  margin-top: 0;
}
.main-content h3,
.fa {
  font-size: 3rem;
}
.ct-featureBox {
  width: 100%;
  background: rgb(3, 0, 0);
  padding: 40px 55px;
  margin: 15px 0;
  min-height: 250px;
  border-radius: 50px;
  display: table;
  text-align: center;
  color: white;
  -webkit-transition: background-color, 0.25s, ease-in-out;
  transition: background-color, 0.25s, ease-in-out;
}
.ct-featureBox .inner {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}
.ct-featureBox .image {
  text-align: center;
}
.ct-featureBox .image img {
  display: inline-block;
}
img, 
figure {
  max-width: 100%;
}
@media screen and (max-width: 991px) {
  .ct-featureBox {
    padding: 20px 55px;
  }
}
@media screen and (max-width: 767px) {
  .main-content {
    padding-right: 80px;
    padding-left: 80px;
  }
  .ct-featureBox {
    width: 100%;
    min-height: 200px;
  }
}
@media screen and (max-width: 600px) {
  .main-content {
    padding-right: 40px;
    padding-left: 40px;
  }
}
@media screen and (max-width: 480px) {
  .main-content {
    padding-right: 15px;
    padding-left: 15px;
  }
}